<!-- App -->
<ion-app>
  <ion-split-pane contentId="menu-content">
    <!-- Left Menu -->
    <ion-menu contentId="menu-content" side="start" type="push">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Right Menu
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            Item 1
          </ion-item>
          <ion-item>
            Item 2
          </ion-item>
          <ion-item>
            Item 3
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Main content -->
    <ion-router-outlet id="menu-content"> </ion-router-outlet>
    <!-- Right Menu -->
    <ion-menu contentId="menu-content" side="end" type="push">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Right Menu
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            Item 1
          </ion-item>
          <ion-item>
            Item 2
          </ion-item>
          <ion-item>
            Item 3
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-split-pane>
</ion-app>
